
.wrapper-img-centers {

    .imgMap-centers {
        position: absolute;
        left: 0;
        width: 100%;
        height: 64%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        -webkit-transition: all .6s;
            transition:all .6s;

        .img-map {
            width: 7.5em;
            margin-bottom: 2em;
            -webkit-transition: all .7s;
            transition:all .7s;
        }
        
        .btn-centers {
            font-size: .6em;
            padding: .7em 3em;
            border-radius: 5px;
            border: none;
            transition: opacity .3s;
        }
        
    }
    &:nth-child(1) {
        figure.effect-julia {background: $color-terciary;}
        .btn-centers{background-color: $color-terciary;}
    }
    &:nth-child(2) {
        figure.effect-julia {background: $color-brightOrange;}
        .btn-centers{background-color: $color-brightOrange;}
    }
    &:nth-child(3) {
        figure.effect-julia {background: $color-vino;}
       .btn-centers{background-color: $color-vino;}
    }
    &:nth-child(4) {
        figure.effect-julia {background: $color-lightBlue;}
        .btn-centers{background-color: $color-lightBlue;}
    }
    .grid-centers {
        position: relative;
        clear: both;
        list-style: none;
        width: 100%;
        height: 100vh;
    
        figure {
            position: relative;
            float: left;
            overflow: hidden;
            width: 100%;
            height: 100%;
    
            .img-bg-centers {
                position: relative;
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
    
            figcaption {
                padding: 2em;
                color: #fff;
                text-transform: uppercase;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
            }
    
            .title-text {
                position: relative;
                padding: 0.2em 0;
                font-size: 1.474em;
                margin: 0;
    
                &:before,
                &:after {
                    position: absolute;
                    top: 2px;
                    font-family: 'icomoon' !important;
                    speak: none;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                }
    
                &:before {
                    content: "\e903";
                    left: -28px;
                }
    
                &:after {
                    content: "\e904";
                    right: -28px;
                }
            }
            &.effect-julia{
                .bg-black{
                    background-color: rgba(0, 0, 0, .4);
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    transition: background .2s;
                }
                .img-bg-centers {
                    -webkit-transition: opacity 1s, -webkit-transform 1s;
                    transition: opacity 1s, transform 1s;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                }
                .list-centers {
                    position: absolute;
                    top: 41%;
                    left: 0;

                    .link-list {
                        display: inline-block;
                        width: 100%;
                        color: $color-white;
                        font-size: .65em;
                        transition: opacity 0.35s, transform 0.35s;
                        transform: translate3d(-100%, 0, 0);
                        font-family: $font-internas;
                        font-weight: bold;
                    }
                }
                
                &:hover {
                    text-align: center;
                    .bg-black{
                        opacity: 0;
                    }
                    .link-list {
                        opacity: 1;
                        transform: translate3d(0, 0, 0);

                        @for $i from 1 through 18{
                            &:nth-child(#{$i}){
                                transition-delay:(300ms * $i) - 80ms;
                            }
                        }
                    }
    
                    .img-bg-centers {
                        opacity: 0.2;
                        -webkit-transform: scale3d(1.1, 1.1, 1);
                        transform: scale3d(1.1, 1.1, 1);
                    }
                    
                    .img-map {
                        width: 4em;
                    }
                    .imgMap-centers {
                        height: 38%;
                    }   
                    .btn-centers {
                        opacity: 0;
                    }
                }
            }
        }
    }
}

/*figure.effect-julia.prueba {
    &:before {
        background-color: #ff0000a3;;
        position: absolute;
        //top: 0; 
        left: 0;
        width: 100%;
        height: 0%;
        z-index: 1;
        content: "";
        bottom: 0;
        transition: height .7s;
        //transform: translateY(-50deg);
    }
    &:hover {
        &:before {
            height: 100%;
        }
    }

}*/