.sct-carousel-home {
    height: 100vh;

    .video{
        height: 100%;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        object-fit: cover;
    }
    .item {
        display: flex;
    }
    .slick-dots {
        position: absolute;
        bottom: 4vh;
        left: 0;
        right: 0;
        text-align: center;
    }
    .btn-carousel {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 1;
        width: 4em;
        opacity: .7;
        cursor: pointer;
    }
    .btn-prev {
        right: 9%;
    }
    .btn-next {
        left: 9%;
    }
}
.slick-slide img.isotipo {
    height: auto;
    width: 11.5em;

}
.title-slider {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    .text-title-slider {
        color: $color-white;
        font-size: 2.8em;
        margin-top: 1em;
    }
}