
/*@function setStyle($map, $object, $style) {
    @if map-has-key($map, $object) {
      @return map-get(map-get($map, $object), $style);
    }
    
    @return null;
  }
$themes: (
  theme1: -pe,
  theme2: -ec,
  theme3: -ve,
  theme4: -mu
);
$config: (
  theme1: (background-color: $color-terciary,),
  theme2: (background-color: $color-vino,),
  theme3: (background-color: #4545,),
  theme4: (background-color: #666,)
);

.btn-centers {
    @each $key, $value in $themes {
        @if map-has-key($config, $key) {
        .#{$value} & {
            background-color: setStyle($config, $key, background-color);
            }
        }@else {
            @warn "The key ´#{$key} isn't defined in the map $config´"
        }
    }
}*/

/*$colors: ( #{nth(1)} #e29933, #{nth(2)} #333333, #{nth(3)}yellow, #{nth(4)}green );

 
.imgMap-centers{
    @each $color in $colors {
        .btn-centers-#{nth($color, 1)}{background-color: nth($color, 2)}
    }    
}
*/