.hg-100 {
    height: 100%;
}
.float-left {
    float: left;
}
.flex {
    display: flex;
    align-items: center;
}
.flex-wrap {
    flex-wrap: wrap;
}
.d-flex {
    display: flex;
}
.jContentB {
    justify-content: space-between;
}
/*typografia*/
.p-internas {
    font-family: $font-internas;
}
.p-internasBold {
    font-family: $font-internas;
    font-weight: bold;
}
.internasBold {
    font-family: $font-bold-internas;
}
.titlesBig {
    font-family: $font-titles;
}
/*colors*/
.colorPrimary {
    color: $color-primary;
}