.info-form {
    .p-internas {
        font-size: .85em;
    }
    .phones-info-form {
        padding: 2.5em 0;
        float: left;
        margin-right: 1.3em;
        .phoneInfoForm {
            position: relative;
            font-size: 1.2em;
            color: $color-primary;
            text-decoration: none;

            &:before{
                position: absolute;
                content: '';
                font-family: $font-internas;
                font-size: 12px;
                top: -21px;
                left: 30px;
            }
            &.quotes:before {
                content: 'Central Citas'
            }
            &.reports:before {
                content: 'Central Informes'
            }
            .icon-phone {
                margin-right: 6px;
                font-weight: bold;
                font-size: 1.2em;
            }
        }
    }
    .icon-form {
        color: $color-primary;
    }
}

.sct-participate {
    position: relative;
    padding: 2.2em 0;
    .icon-container {
        .icon-participate {
            width: 5em;
            margin-right: 1.1em;
            &.two,
            &.three {
                width: 6em;
            }
        }
    }
    .titles-participate {
        .internasBold {
            font-size: 1.06em;
            margin-top: 0;
        }
        >.p-internas {
            font-size: .75em;
            opacity: .8;
        }
        .content-btn-participate {
            //margin-top: 1em;
            .btn-participate {
                color: $color-white;
                font-size: 0.845em;
                float: left;
               //width: 100%;
                height: 100%;
                position: relative;
                padding: 0.9em 4em;
                border-radius: 4px;
                background-color: $color-secondary;
            }
        }
    }
}

.sct-centers {
    .wrapper-img-centers {
        width: 25%;
        float: left;
    }
}